*~
*.la
*.lo
*.o
*.pyc
*.log
*.trs
.deps/
.libs/
.classes/
aclocal.m4
autom4te.cache/
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
missing
py-compile
include/ripple/config.h
include/ripple/config.h.in
include/ripple/stamp-h1
ripple.dpkg
ripple.spec
test-driver
ripple-*.tar.gz

# Python
build/
dist/
ripple.egg-info/
source/__init__.py

# Java
classripplejava.stamp
classes-ripple/
javadoc/
source/Ripple.java
ripple-*.jar
