*~
*.la
*.lo
*.o
*.pyc
*.log
*.trs
.deps/
.libs/
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
test-driver
package.json
Makefile
Makefile.in
source/.dirstamp
include/ripple/config.h
include/ripple/config.h.in
include/ripple/stamp-h1
ripple.dpkg
ripple.spec
ripple-*.tar.gz
check-ripple
check-ripple.exe

# Python
py-compile
build/
dist/
ripple.egg-info/
source/__init__.py

# Java
.classes/
javadoc/
source/Ripple.java
ripple-*.jar
ripple.jar
ripple-*.war
ripple.war
servlet-api.jar
WEB-INF/classes/

# JavaScript
node_modules/
