html, body { padding: 0; margin: 0; overflow: hidden; }
canvas.streya { display: block; cursor: crosshair; }

.menu {
    background: #333; color: white;
    border: 2px solid white;
    border-radius: 10%;
}

.menu legend {
    border: 2px solid white;
    border-radius: 10%;
}

.menu ul {
    list-style-type: none;
    list-style-position: outside;
    padding: 0; margin: 0;
}
