html, body
{ position: absolute; padding: 0; margin: 0; }
h1, h2, h3 {
    text-align: center;
    font-weight: bold;
    font-family: sans;
    color: rgba(0, 0, 0, 0.5);
}

.fascia-canvas {
    position: absolute; top: 0; bottom: 0; right: 0; left: 0;
    display: block; margin: 0; border: 0; z-index: 1;
    background-color: #ddd; color: #222; }
.image-button {
    display: inline-block;
    background-repeat: no-repeat;
    background-color: rgba(255,255,255,0.8);
}
.selected { background-color: rgba(192,192,255,0.8); }
.bbar {
    position: fixed;
    display: block; z-index: 2;
    margin: 1%; border-radius: 10 }
.bbar div { display: inline-block; height: 100% }
.bbar button:first-child {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.bbar button:last-child {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.page {
    position: absolute; top: 0; left: 0; z-index: 3;
    border: 5px solid black;
    background-color: #ddd;
    border-radius: 20px;
    border-width: 5px;
    box-sizing: border-box;
}

.inventory-pane {
    position: absolute;
    box-sizing: border-box;
    overflow-y: auto;
}
.inventory-header {
    top: 0; left: 0; right: 0;
    background-color: rgba(48, 48, 144, 0.5);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.inventory-footer {
    bottom: 0; left: 0; right: 0;
    background-color: rgba(48, 144, 144, 0.5);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.inventory-personal {
    left: 0; width: 50%;
    background-color: rgba(144, 48, 48, 0.5);
}
.inventory-other {
    right: 0; width: 50%;
    background-color: rgba(48, 144, 48, 0.5);
}
.inventory-portrait {
    right: 0; top: 0; width: 50%; height: 100%;
    background-color: #ddd;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
